@font-face {
  font-family: Avenir-Light;
  src: url(../font/Avenir-Light.ttf);
}

@font-face {
  font-family: Adobe-Caslon;
  src: url(../font/adobe/ACaslonPro-Regular.otf);
}

@font-face {
  font-family: proxy-nova;
  src: url(../font/proxy/proxy.ttf);
}


/*@font-face {font-family: "Avenir Light"; 
src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot"); 
src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot?#iefix") format("embedded-opentype"), 
url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff2") format("woff2"), 
url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff") format("woff"), 
url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.ttf") format("truetype"), 
url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.svg#Avenir Light") format("svg"); 
}*/

:root{
	--white:#fff;
	--black:#000;
	--back-color:#0067B8;
    --primary-color:#ffd98e;

    /*--gray: #636363;*/
    --gray: #303030;
}

body {
     font-family: Avenir-Light;
    /*font-family: "Sen", "sans-serif";*/
    letter-spacing: 0.03em;
    line-height: 1.6em;
    color: #333;
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: Avenir-Light;
    color: #303030;
}



h2 {
    font-size: 45px;
    font-weight: 100;
    line-height: 1.2;
    position: relative;
    
}

h3 {
    font-size: 40px;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    padding: 10px 0 25px;
    text-align: left;
}


p{
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 1.6em;
    margin-bottom: 25px;
    color: var(--gray);
}


a {
    text-decoration: none!important;
}

img{
    width: auto;
    max-width: 100%;
    height: auto;
}

ul{
    text-decoration: none;list-style: none;
    margin: 0px;
    padding: 0px;
}


/* HEADER START
========================================== */
.menu_outer {
    z-index: 9;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav{
    justify-content: space-between;
}

.nav>li {
    position: relative;
    display: block;
}
.nav > li > a {
    display: block;
    font-size: 16px;
    padding: 25px 10px;
    color: #333;
    position: relative;
    text-transform: uppercase;
}

.menu_box_three,
.menu_box_one{
    width: 35%;
}

.menu_box_two {
    width: 30%;
    text-align: center;
}

.menu_box_two img{
    max-height: 105px;
    position: relative;
    top: 20px;
}
#mc_embed_signup_scroll > div {
    width: 400px;
}
.wpfs-btn-primary {
    background: #f0f0f0 !important;
    color: #000 !important;
    font-weight: normal !important;
    border: 1px solid #000;
    border-radius: 0 !important;
    padding: 0 60px !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
}
input[type="email"].wpfs-form-control, input[type="text"].wpfs-form-control, .wpfs-form-select select {
    background: #f6f6f6 !important;
    border-radius: 0 !important;
}
@media(min-width: 768px){

    .navbar-header{display: none;}    

}


/* HEADER END
========================================== */

.drift_container {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 90%;
    margin: auto;    
}

.com_logo{}
.com_logo img{
    margin: auto;
    display: block;
    max-height: 80px;
}

.drift_container h6{
    font-size: 25px;
    margin-bottom: 35px;
    font-weight: 300;
    color: #000;    
}
.drift_container h6 a {
    color: #636363;
}
.drift_container h6 a:hover {
    color: #303030;
}
.drift_container h6 b{
    text-transform: uppercase;
    color: #636363;
    font-weight: 900;
}


.drift_title {
    text-align: center;
    font-size: 55px;
    margin-bottom: 70px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 35px;
}

.social_link{
    /*justify-content: center;*/
    margin: 60px 0 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.social_link li{}

.social_link li,
.social_link li a{
    font-size: 21px;
    color: #000;
}
.social_link li a{
    padding-left:  10px;
    padding-right: 10px;
}


.newsletter{
    /*text-align: center;*/
}

.news_l{
    
    align-items: center;
}
.news_l input{

}

.newsletter p{
    color: #000;
    font-size: 22px;
    margin: 0 0 13px;
    margin-bottom: 26px;
}

/*.news_l{justify-content: center;}*/
.news_l label{display: none !important;}
.news_l input{    
    width: 400px  !important;
    font-size:  20px !important;
    /* height: 48px; */
    border: 0px solid #636363 !important;
    border-bottom: 1px solid #636363 !important;
}
.footer_inner .news_l input{ width: 550px !important; }

.newsletter .news_l input[type="email"]{
    font-size: 18px !important;
    border-radius: 0px !important;
    margin-right: 40px !important;
    padding: 10px 20px !important;
}

.newsletter .news_l input[type="submit"]{
    font-size:  14px !important;
    font-family: proxy-nova;
}

.but61{
    
    height: 48px;
    display: inline-block;
    padding: 0 15px;
    line-height: 42px;
    text-transform: capitalize;
    font-size: 18px;
    background: #636363;
    color: #fff !important;
    cursor: pointer;
    border: 2px solid #636363;
}

.but61:hover{
    background: #000;
    border: 2px solid #000;
}


/*FORM*/
.wpfs-form-control:not(.wpfs-form-control--error).wpfs-form-control--focus, .wpfs-form-control:not(.wpfs-form-control--error):focus {
    border-color: var(--secondary-color);
    box-shadow: 0px 0px 0px 1px var(--black) !important;
}
.ab_part{}
.ab_part_l {
    width: 50%;
    justify-content: flex-end;
    text-align: right;
    top: -15px;
    position: relative;
}
.wpfs-form-control:not(.wpfs-form-control--error).wpfs-form-control--focus, .wpfs-form-control:not(.wpfs-form-control--error):focus {
    border-color: var(--secondary-color);
    box-shadow: 0px 0px 0px 1px var(--black) !important;
}
.ab_part_linner{
    width: 485px;
}
.ab_part_img{
    right: -2%;
    position: relative;
}
/*.ab_part_img img{
    width: 100%;
    object-fit: cover;
}*/
.ab_part_img_inner{
    flex-wrap: wrap;
}

.ab_part_img_abu{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.6);

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;

}

.ab_part_img_inner div {
    width: 48%;
    text-align: left;
    padding: 7px 20px;
}
.ab_part  label.wpfs-form-check-label strong,
.ab_part  label.wpfs-form-check-label,
.ab_part_img_abu div label{
    font-size: 18px;
    color: #303030;
    font-weight: 400;
    font-family: proxy-nova !important;
}
.ab_part_img_abu div input{}




.form01{
    text-align: center;
    margin: 70px 0 0;
}

.form01 h4 {
    font-size: 30px;
    font-family: proxy-nova;
}

.form01 form {}
/*.form01 form #wpfs-form-get-parameters--ZjFiZTB ~ .wpfs-form-group{
    display: none;
}*/

/*.form01 form .wpfs-form-select{display:none;}*/


/*.form01 form .wpfs-form-select,
.form01 form .ui-selectmenu-button,
.form01 form .wpfs-form-select select{display:none !important;}*/ 

.wpfs-form-label[for="wpfs-custom-amount--ZjFiZTB-button"],
.form01 form .wpfs-form-label[for="wpfs-custom-amount--ZjFiZTB-button"] {
    display: none;
}

.form01 form .wpfs-w-20 {
    max-width: 100% !important;
}
.form01 form .wpfs-w-20 input{
    margin: auto;

}


.ab_part_linner .wpfs-form-check > input,
.form01 input{
    font-size: 18px !important;
    padding: 0 10px !important;
    display: block !important;
    width: 100% !important;
    height: 40px !important;
    margin: 0 auto 25px !important;
    background: #f6f6f6 !important;
    border: 1px solid #f6f6f6 !important;
    font-family: proxy-nova; 
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gray);font-family: proxy-nova; 
  
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--gray);font-family: proxy-nova; 
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--gray);font-family: proxy-nova; 
}

.radio02{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 0 30px 27px;
}
.radio02 input{
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}
.radio02 label{
    font-size: 20px;
    letter-spacing: .00;
    padding-left: 15px;
    margin: 0px 0;
}
.wpfs-btn-primary--loader:after{display:none !important; }

.ab_part_r{
    width: 50%;
}
.com_heading{}
.com_heading h3 { 
    font-family: proxy-nova;
}
.com_heading h3 b{
    font-weight: 500;
    font-family: Adobe-Caslon;
    /*font-family: "Sen", "sans-serif";*/
}
.com_heading span{
    color: #909090;
}



 .page-template-subscribe .contact01,
 .page-template-donate .contact01
 {
    margin: 20px 0 0 80px;
    max-width: 490px;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}
.contact01 p{
    line-height: 1.3em;
}


.form01{}

/*part02*/
.ab_part_img_inner.ba_part02 {
    margin-left: 85px
}

.ab_part_img_inner.ba_part02 div{
        width: 100%;
}   
.ab_part_img_inner.ba_part02 div input{
    width: 50px;
    height: 20px;
    background: #fff;
}    
.ab_part_img_inner.ba_part02 div label span{
    width: 100px;
    display: inline-block;
}

/*FOOTER*/
 

.footer_outer {
    position: relative;
    overflow: hidden;    
}

.page-id-51 .footer_outer {
    padding: 50px 0 10px;
}

/*.footer_outer::after{
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1200px;
    height: 800px;
    background-image: url(../images/back02.png);
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}*/



.page-id-51 .footer_outer::after
{
  height: 500px;    
}

.footer_inner {
  text-align: right;
    position: relative;
    z-index: 9;
}

.sig_up{
    margin: 0px 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.sig_up_inner{
    text-align: left;
}

.sig_up_inner p{
    text-transform: capitalize;
}
.footer_inner .sig_up_inner p {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.sig_up form{}

.e_add{    
    justify-content: flex-end;
}
.sig_up form input{
    border: none;
    width: 450px;
    font-size: 18px;
    background: transparent;
    font-family: Avenir-Light;
    border-bottom: 1px solid var(--gray);;
}


.f_three{justify-content: flex-end;}

ul.f_menu.nav {
    width: 750px;
}
ul.social_icons {
    display: flex;
    align-items: center;
}
ul.social_icons li {
    padding: 0 15px;
}

ul.social_icons li  i.fa,
ul.social_icons li  i.fab{
    font-size: 32px;
}


.but62{
    border: 1px solid var(--gray);
    text-transform: capitalize;
    padding: 6px 45px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    color: var(--gray);
}
#mc_embed_signup form{
    padding: 10px 0 10px 0px !important;
}
#mc_embed_signup {
    background: transparent !important;
}
#mc-embedded-subscribe {
    width: auto !important;
    height: auto !important;
    padding: 0;
    margin: 0 !important;
    background: transparent !important;
    color: #636363 !important;
    padding: 0 50px !important;
    border: 1px solid !important;
    border-radius: 9px !important;
    font-family: proxy-nova;
}
#mc-embedded-subscribe ~ .mce_inline_error {
    position: absolute;
    top: 75%;
}
.news_l .but62, {
    border: 1px solid var(--gray) !important;
    text-transform: capitalize;
    padding: 6px 45px !important;
    border-radius: 13px !important;
    cursor: pointer !important;
    font-size: 20px !important;
    color: var(--gray) !important;
    height: auto !important;
    width: auto !important;
    background: transparent !important;
    line-height: 1em !important;
}


.wpfs-form-actions{
    float: right !important;
}
.wpfs-form-actions button.wpfs-btn, .but63 {
    float: right !important;
    padding: 12px 30px !important;
    cursor: pointer !important;
    font-size: 22px !important;
    line-height: 13px !important;
    display: inline-block !important;
    background: #f0f0f0 !important;
    letter-spacing: 0px !important;
    text-transform: capitalize !important;
    color: #303030 !important;
    border: 1px solid var(--black) !important;
    transition: all 0.3s ease-out !important;
    height: unset !important;
    font-weight: 600 !important;
    font-family: Avenir-Light !important;
    box-shadow: none !important;
}



.but62:hover,
.but63:hover{
    color: var(--white) !important;;
    background: var(--black) !important;
    border: 1px solid var(--black) !important;
    transition: all 0.3s ease-out;
}

.ab_part_linner .wpfs-w-45 {
    max-width: 100% !important;
}

/* SUB SCRIBE */
.ab_part_l {}


#wpfs-form-get-parameters--ZTI4NGY ~ .wpfs-form-check-group {
    position: relative;
    
    background-color: rgba(255,255,255,1);
    padding: 45px;
    background-repeat: no-repeat;
    background-size: auto 220px;
    height: 230px;    
    display: flex;
    align-items: center;
    justify-content: center;
}


.page-template-page-templatessubscribe-php #wpfs-form-get-parameters--ZTI4NGY ~ .wpfs-form-check-group{display: none;}

.ab_part_l .wpfs-form-check-group::after{
    display: block;
    content: "";
    top: 0;left: 0;width: 100%;height: 100%;
    position: absolute;
    background: rgba(255,255,255,0.7);
}


.ab_part_l .wpfs-form-check-group .wpfs-form-check-group-title {
display: none;
}
.ab_part_l .wpfs-form-check-group .wpfs-form-check {
    position: relative;
    z-index: 9;
    width: 200px;
    margin: 15px auto 15px;
    display: block;
}
.page-template-subscribe .ab_part_l .wpfs-form-check-group .wpfs-form-check {
    position: relative;
    z-index: 9;
    width: 45% !important;
    display: block;
    float: none;
}
.ab_part_img_inner > div {
  margin: 0rem;
}
.ab_part_img_abu div label {
    font-size: 19px !important;
    font-family: proxy-nova;
    color: #303030;
}
.ab_part_img_inner > div input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.ab_part_img_inner > div input[type="radio"] + label::before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1em;
    height: 1.1em;
    position: relative;
    top: 0.2em;
    margin-right: .7em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    border: 1px solid;
}
.ab_part_img_inner > div  input[type="radio"]:checked +  label:before {
  background-color: #000000;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.ab_part_img_inner > div  input[type="radio"]:focus +  label:before {
  outline: none;
  border-color: #3197EE;
}
.ab_part_img_inner > div input[type="radio"]:disabled +  label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.ab_part_img_inner > div input[type="radio"] +  label:empty:before {
  margin-right: 0;
}



@media(min-width: 768px){

.only_mobile_show{display: none;}


}

@media(min-width: 768px)and (max-width: 999px){
.page-id-51 .footer_outer::after {
    height: 410px;
}
ul.f_menu.nav {
    width: 400px;
}

}

@media(max-width: 767px){
.drift_container {
    padding-top: 0px;
}    
#mc_embed_signup form{
    padding: 10px 0 10px 0px !important;
    z-index: 99999;
}
.menu_box_three, 
.menu_box_one{
    display: none;
}


.menu_box_two {
    width: 100%;
    max-width: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 00px;
    position: relative;
    align-items: center;
    padding: 10px 15px 10px;
}
.menu_box_two  a {
    display: block;
    margin: 0;
    height: auto;
    padding: 0;
}
.menu_box_two  a img {
    top: 0;
    max-height: 65px;
}


button.navbar-toggle.collapsed {
    background: transparent;
    border: 1px solid;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

span.icon-bar {
    background: #070707;
    width: 25px;
    height: 4px;
    margin: 4px;
    border: 0;
    display: block;
}


.only_mobile_show {
    display: none;
    top: 140px;
    position: absolute;
    z-index: 9999;
    background: #fbfbfb;
}
.only_mobile_show .nav>li {
    position: relative;
    display: block;
    width: 100%;
}
.only_mobile_show .nav>li > a{
    padding: 15px 20px;
}

/**/
.ab_part {
    flex-wrap: wrap;
}

.ab_part_r,
.ab_part_l {
    width: 100%;
}
.contact01 {
    margin: 30px 0 0px;
    max-width: 100%;
}
/**/
.drift_title {
    font-size: 42px;
}
.drift_container h6 {
    font-size: 21px;
    margin-bottom: 20px;
}


/*Footer*/
.f_three {
    flex-wrap: wrap;
}
ul.f_menu.nav {
    width: 100%;
    flex-wrap: wrap;
}
ul.social_icons {
    width: 100%;
    flex-wrap: wrap;
}
.footer_outer::after {
    width: 1000px;
    height: 600px;
}

#mc_embed_signup .mc-field-group.news_l  {
    width: 100%;
    flex-wrap: wrap;
}
#mc_embed_signup .mc-field-group.news_l input {
    width: 100% !important;
    margin: 0 0 20px !important;
}

.page-id-51 .footer_outer::after {
    width: 700px;
    height: 400px;
}


}




@media(max-width: 380px){
.drift_title {
    font-size: 34px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.footer_outer .nav > li > a {
    font-size: 13px;
    padding: 15px 3px;
}


}






